main {
  margin: 2em 0;
}

@media only screen and (max-width: 576px) {
  /* xs */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
  /* sm */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  /* md */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 993px) {
  /* lg */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
